*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: black;
  color: white;
 
  height: 100%;
}


.App {
  text-align: center;
}

.title {
  margin: 20px 0px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
  border: none;
  padding: 10px;

}
.formDiv {
  height: 20px;
  /* text-align: center; */
  display: flex;
  margin: 14px 0px;

  justify-content: center;
}
.search{
    border: none;
    width: 25px;

}
.editBtn {
  font-size: 20px;
  background: none;
  color: white;
  border: none;
  margin: 0px 10px;
  cursor: pointer;

}

.editBtn:hover{
  color: rgb(233, 155, 120);
}

.delBtn:hover{
  color: black;
}
.todoBox {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  /* justify-content: space-around; */
}
.addEl {
  width: 200px;
    border-radius: 5px;
    display: flex;
    background: slateblue;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    padding: 9px;

}
.delBtn {
  font-size: 20px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;

}
.search {
  height: 25px;
  font-size: 21px;
  color: green;
  background-color: white;
}

button.checktitle {
  background-color: slateblue;
  padding: 6px 8px;
  border-radius: 5px;
  margin: 10px 0px;
  color: white;

}