*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: black;
  color: white;
 
  height: 100%;
}


.App {
  text-align: center;
}

.title {
  margin: 20px 0px;
}
input[type="text"] {
  width: 200px;
  height: 20px;
  border: none;
  padding: 10px;

}
form {
  height: 20px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
.search{
    border: none;
    width: 25px;

}
.editBtn {
  font-size: 20px;
  background: none;
  color: blue;
  border: none;
  margin: 0px 10px;

}
.todoBox {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  /* justify-content: space-around; */
}
.addEl {
  width: 166px;
  display: flex;
  background: slateblue;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 5px;

}
.delBtn {
  font-size: 20px;
  background: none;
  color: blue;
  border: none;
}