*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: black;
  color: white;
 
  height: 100%;
}


.App {
  text-align: center;
}

.title {
  margin: 20px 0px;
}
input[type="text"] {
  width: 200px;
  height: 20px;
  border: none;
}
form {
  height: 20px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
.search{
    border: none;
    width: 25px;

}
.editBtn {
  font-size: 25px;
  background: none;
  color: blue;
  border: none;
}